.add-task-form {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444444;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* margin-bottom:10%;    */
  width: 90%;
  max-width: 700px;
}

.add-task-form form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.add-task-form input,
.add-task-form button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* outline: none; */
  font-size: 20px;
  box-sizing: border-box;
  outline-color: #ffb852;
}

.add-task-form input {
  flex: 1;
  margin-right: 10px;
}

.add-task-form input::placeholder {
  font-size: 14px;
  color: #999;
}

.add-task-form button {
  background-color: #ffb852;
  color: white;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 15px;
  width: 70px;
}

.add-task-form button:hover {
  background-color: #db7121;
}

@media screen and (max-width: 768px) {
  .add-task-form {
    width: 85%;
    padding: 10px;
    margin-top: 20px;
  }

  .add-task-form form {
    flex-wrap: wrap;
  }

  .add-task-form input,
  .add-task-form button {
    flex: 1 1 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .add-task-form button {
    margin-bottom: 0;
  }
}
