.add-task-form {
    position: absolute  ;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353434;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.add-task-form form {
    display: flex;
    align-items: center;
}

.add-task-form input,
.add-task-form button {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
}

.add-task-form button {
    background-color: #0093ff;
    color: white;
    border: none;
    cursor: pointer;
}

.add-task-form button:hover {
    background-color: #838b0c;
}
