/* Base styles */
.task-list-container {
    width: 40%;
    /* margin: 20px auto; */
    margin-top: 300px;
    background-color: #353434;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.task-list {
    width: 100%;
    display: flex;
    flex-direction: column; /* Adjust to column direction */
    align-items: center;
}

.task-card {
    width: calc(100% - 40px);
    background-color: #403f3f;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative; /* Set position relative for absolute positioning of delete button */
}

.task-card h2 {
    margin-bottom: 5px;
}

.task-card p {
    margin: 0;
}

.add-task-form {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #353434;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task-form form {
    display: flex;
    align-items: center;
}

.add-task-form input,
.add-task-form button {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.add-task-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.add-task-form button:hover {
    background-color: #0056b3;
}

.task-card-outer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensure space between elements */
}

.task-delete {
    position: absolute; /* Position absolute to the task-card */
    right: 10px; /* Adjust the right position as needed */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
}

.task-details {
    padding: 10px; /* Add padding */
    flex-grow: 1; /* Allow details to grow */
}

.task-check {
    display: flex;
    align-items: center;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .task-list-container {
        width: 90%;
        margin-top: 5%;
    }

    .task-card {
        width: calc(100% - 20px);
    }

    .add-task-form {
        width: 90%;
    }
}
