.App {
  text-align: center;
}
body {
  background-color: #1e1e1f;
  color: white;
  overflow-y: auto;
}

h1 {
  text-align: center;
  color: #ccc;
  margin: 20px 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  position: absolute;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-top: 0px;
  }
}